/* @font-face {
    font-family: 'ComicCodeLigatures';
    src: url('/font/ComicCodeLigatures-Regular.otf') format("opentype");
    font-style: normal;
} */

/* html {
    font-family: 'ComicCodeLigatures', cursive, sans-serif;
    letter-spacing: -1px;
} */

#storyCaptionContent {
    display: flex;
    flex-direction: column;
}

#statmeters {
    order: -1;
    margin: 30px 0 10px 0;
}

#storyCaptionContent > .gold {
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
    padding-top: 10px;
}

#mobileStats {
    font-size: 1rem;
}

#passages {
    font-size: 1.2rem;
}

#storyCaptionContent::-webkit-scrollbar {
    width: 0;
}

:is(#story-caption > img, #sidebar-img-container > #img > *) {
    margin-left: 11px;
}

:is(#storyCaptionContent, #mobileStats > div) {
    font-weight: 900 !important;
}

#featsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

#featsList > .featList {
    width: 100%;
    border-style: solid;
    border-color: gold;
    max-width: unset;
    height: unset;
    min-height: 87px;
}

.furnitureBlock {
    white-space: unset;
    height: auto;
    text-align: center;
}

html, body {
    overscroll-behavior-x: none;
}

@media only screen and (max-width: 800px) {
    #passages {
        font-size: 1.1rem;
    }

    #featsList {
        grid-template-columns: 1fr;
    }
}